html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

#container {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 260px;
  background: #1e1e24;
  color: white;
  padding: 15px;
}

#map {
  flex: 1;
  height: 100%;
}
